header {
    width: 100%;
    max-width: 1920px;
    display: block;
    color: white;
    margin-bottom: 1px;
}

#encabezado{
    background-color: #84d4b4;
}

#logo{
    max-width: 100%;
    height: 10%;
}

nav, a{
    color: white;
    text-decoration: none;
    margin-right: 100px;
    padding: 10px;
}

#navegador{
    color: white;
    float: right;
    display: block;
    margin-top: 10px;
}

#perro {
    width: 100%;
    max-width: 600px;
    padding: 50px;
    align-items: center;
    margin:auto;
    display: block;
}

#bajo-encabezado{
    background-color: #6cccac;
}

#texto-bajo{
    max-width: 1920px;
    display:flex;
    justify-content: space-between;
    font-family: Calibri;
    font-weight: bold;
}

#numero{
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}

#texto{
    display: inline-block;
    align-self: center;
    margin-left: 100px;
}


#listaSociales li{
    display: inline-block;
    color: #84d4b4;
    background-color: white;
    border-radius: 50%;
    padding: 10 15 15 10;
    margin-right: 20px;
    width: 10px;
    height: 10px;
}

.separadorRes{
    width: 40;
    height: 1;
    display: inline-block;
    background-color: black;

}
.separadorcrow{
    width: 40;
    height: 1;
    margin: 0;
    
    background-color: black;
}



.cuerpo {
    color:black;
    display: inline-block;
    font-family: Calibri;
    padding: 0px;
}
#rescate{
    float: left;
    text-align: right;
 
    margin-left: 180px;
    margin-right: 50px;
    
}

#crowdfunding{
    float: right;
    text-align: left;
    padding: 20px;
}

#foto-crowd{
    width: 50%;
    height: 40%;
}
h5{
    color: gray;
    margin-top: 0;
}

h1 {
    margin-bottom: 2px;
}

button {
    border-color: black solid;
    border: 2px solid;
    background-color: transparent;
    font-weight: bold;
    padding: 10 10 10 10;
}

footer {
    background-color: rgb(224, 224, 224);
    height: 150px;
}

footer p{
    padding-top: 10px;
    margin-left: 15px;
    font-family: Calibri;
}